<td class="text-left">
  <%= attachment_image_tag( cart_product.product, :image, size: "55x43", fallback: "no_image.jpg") %>
  <%= cart_product.product.name %>
</td>
<td class="text-right">
  ¥<%= including_tax_price(cart_product.product.nontaxed_price).to_s(:delimited) %>
</td>
<td>
  <%= form_with url: customers_cart_product_path(cart_product), method: :patch , remote: true do |f| %>
    <%= f.number_field :amount, class: "amount", size: 10, min: 1, id: "amount_cart" %>
    <%= f.submit "変更", class: "btn btn-info" %>
  <% end %>
</td>
<td class="text-right" id='sub_price-<%= cart_product.id %>'>
  ¥<%= sub_price(cart_product).to_s(:delimited) %>
</td>
<td>
  <%= link_to " 削除する", customers_cart_product_path(cart_product), method: :delete, remote: true, data: {confirm: "#{cart_product.product.name}を削除してよろしいですか？"}, class: "glyphicon glyphicon-trash btn btn-danger" %>
</td>