<h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h2>

<%= simple_form_for(@customer, url: admins_customer_path, html: { method: :patch }) do |f| %>
  <%= f.error_notification %>

    <div class="field">
      <%= f.label :last_name, "名前　　　　　　　　　　　（姓）　" %><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
      <%= f.label :first_name, "（名）　" %><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
    </div><br>

    <div class="field">
      <%= f.label :last_name_kana, "フリガナ　　　　　　　　　（セイ）" %><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
      <%= f.label :first_name_kana, "（メイ）" %><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
    </div><br>

    <div class="field">
      <%= f.label :postcode, "郵便番号" %>　　　　　　　　　　　　 <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode" %>
    </div><br>

    <div class="field member-address">
      <%= f.label :address, "住所" %>　　　　　　　　　　　　　　　<%= f.text_field :address, autofocus: true, autocomplete: "address" %>
    </div><br>

      <div class="field">
      <%= f.label :phone_number,"電話番号" %>　　　　　　　　　　　<%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
    </div><br>

     <div class="field">
      <%= f.label :email, "メールアドレス" %>　　　　　　　　　 　 <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div><br>
    <div class= "field">
    <%= f.label "会員ステータス" %>
    
        <td>
          <%= f.label "有効", for: "customer_is_deleted"  %>
          <%= f.radio_button :is_deleted, :out, :checked => (@customer.is_deleted == "quit") %>
          <%= f.label "無効", for: "customer_is_deleted" %>
          <%= f.radio_button :is_deleted, :quit, :checked => (@customer.is_deleted == "out")  %>
        </td>
    </div>

   <%= button_tag :type => "submit", :class =>"btn btn-success" do %>
   　変更を保存
   <% end %>

<% end %>
