<h1><%= @customer.last_name %><%= @customer.first_name %>の会員詳細</h1>

<div class="customer_show">

  <div class="customer_show_title">
    <p>会員ID</p>
    <br>
    <p>氏名</p>
    <br>
    <p>フリガナ</p>
    <br>
    <p>郵便番号</p>
    <br>
    <p>住所</p>
    <br>
    <p>電話番号</p>
    <br>
    <p>メールアドレス</p>
    <br>
    <p>会員ステータス</p>
  </div>

  <div class="customer_show_contents">
    <%= @customer.id %>
    <br>
    <%= @customer.last_name %><p> </p><%= @customer.first_name %>
    <br>
    <%= @customer.last_name_kana %><p> </p><%= @customer.first_name_kana %>
    <br>
    <%= @customer.postcode %>
    <br>
    <%= @customer.email %>
    <br>
  <% if @customer.is_deleted == true %>
    <p>退会</p>
  <% else %>
    <p>有効</p>
  <% end %>
  </div>
</div>
  <div class="customer_show_link">
    <%= link_to edit_admins_customer_path(@customer.id) do %>
      <button type="button" class="btn btn-success">編集する</button>
    <% end %>
    <%= link_to admins_orders_path do %>
      <button type="button" class="btn btn-primary">注文履歴一覧を見る</button>
    <% end %>
  </div>

