<div class="container"><br>
  <div class="row">
    <h2><strong>商品一覧</strong></h2>
      <div class="d-flex align-items-end">
        <h4>（全<%= @products.count %>件）</h4>
      </div>
      <div class="col-xs-10 col-xs-offset-1">
        <% @products.each do |product| %>

            <!--Topページと部分テンプレートできそう-->
      <%= link_to customers_product_path(product.id), class: "btn-link", :style=>"color:#0099FF;" do %>
      <div id="img_field" class="product">
        <%= attachment_image_tag(product, :image, size: "180x130", fallback: "no_image.jpg") %>
      </div>
      <p class="products-name">
        <%= product.name %>
      </p>
      <% end %>



        <% end %>
      <div class="text-center"><%= paginate @products %></div>
  </div>
</div>
