<div class="title">
  <h4 style="width: 240px;background-color: #e6e6e6; text-align: center;">商品詳細</h4>
</div>
<div class="customers-show-box">
  <div class="customers-show-image">
    <%= attachment_image_tag(@product, :image, size: "220x170", fallback: "no_image.jpg") %>
  </div>
  <div class="customers-show-text-box">
    <h4><%= @product.name %></h4>
    <div class="customers-show-introduction">
      <p><%= @product.introduction %></p>
    </div>
    <p class="including_tax_price"><b>￥<%= (@product.nontaxed_price * 1.1).floor.to_s(:delimited) %></b>(税込)</p>

   <%= form_with model: @cart_products, url: cart_products_path, local: true do |f| %>
     <%= f.hidden_field :product_id, value: @product.id %>
     <%= f.select :amount, {'1個': 1, '2個': 2, '3個': 3, '4個': 4, '5個': 5, '6個': 6, '7個': 7, '8個': 8, '9個': 9, '10個': 10}, {include_blank: '個数選択'}, {required: true} %>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <%= f.submit 'カートに入れる', class: "glyphicon glyphicon-pencil btn btn-success" %>
   <% end %>
  </div>
</div>