<!DOCTYPE html>
<html>
  <head>
    <title>ながのCAKE</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-sm navbar-dark bg-info mt-3 mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'ながのCAKE', root_path, class: "btn text-light" %>
         <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <% if customer_signed_in? %>
                  <div class="header-line"><p class="header-name text-light">ようこそ、<%= current_customer.last_name + " " + current_customer.first_name %>さん！</p></div>
                <% end %>

            　　<!---会員がログインしている時-->
                <% if customer_signed_in? %>
              　   <%= link_to 'マイページ', customers_path, class: "btn text-light" %>
              　   <%= link_to '商品一覧',  products_path, class: "btn text-light" %>
              　   <%= link_to 'カート', cart_products_path, class: "btn text-light" %>
              　   <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete , class: "btn text-light" %>
                <!--管理者がログインしている時-->
                <% elsif admin_signed_in?%>
                  <%= link_to '商品一覧', admins_products_path, class: "btn text-light" %>
                  <%= link_to '会員一覧',  admins_customers_path, class: "btn text-light" %>
              　   <%= link_to '注文履歴一覧', admins_orders_path, class: "btn text-light" %>
              　   <%= link_to 'ジャンル一覧', admins_categories_path, class: "btn text-light" %>
              　   <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete , class: "btn text-light" %>
                <!--ログインしていない時-->
                <% else %>
                  <%= link_to 'About',   about_path, class: "btn text-light" %>
            　     <%= link_to '商品一覧',  products_path, class: "btn text-light" %>
            　     <%= link_to '新規登録',  new_customer_registration_path, class: "btn text-light" %>
                  <%= link_to 'ログイン', new_customer_session_path, class: "btn text-light" %>
            　   <% end %>
            </ul>
        </div>
    </nav>

    </header>
    <%= yield %>
  </body>
</html>
